:root {
    --background-color-black: #121212;
    --dark-mode-background-color-dark: #202020;
    --dark-mode-background-color-medium: #272727;
    --dark-mode-background-color-light: #353535;
    --color-darkblue: #2558b0;
    --color-blue: #5793FB;
    --color-lightblue: #8AB4F8;
    --color-red: #B20D30;
    --color-green: #3F784C;
    --color-white: #EEEEEE;
    --color-lightgrey: #CCCCCC;
    --color-grey: #888888;
    --color-darkgrey: #666666;
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-black);
    color: var(--color-white);
    height: calc(var(--vh) * 100);
}

body {
    margin: 0;
    padding: 0;
    height: inherit;
}

#root {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 500px;
}

.app__m-1 {
    margin: 0.6rem;
}

.app__m-2 {
    margin: 1rem;
}

.app__w-100 {
    width: 100%;
}

.app__global__container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow-y: auto;
    min-height: 450px;
}

.app__content__container {
    flex: 1;
    overflow-y: hidden;
    display: flex;
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-mode-background-color-light);
    border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-grey);
}

@media screen and (max-width: 1024px) {
    .app__global__container {
        flex-direction: column-reverse;
    }
}

