:root {
    --background-color-black: #121212;
    --dark-mode-background-color-dark: #202020;
    --dark-mode-background-color-medium: #272727;
    --dark-mode-background-color-light: #353535;
    --color-blue: #5793FB;
    --color-red: #B20D30;
    --color-green: #3F784C;
    --color-white: #EEEEEE;
    --color-lightgrey: #CCCCCC;
    --color-grey: #888888;
    --boirder-radius-sm: 5px;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-black);
    color: var(--color-white);
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex: 1;
}

#root {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.app__m-1 {
    margin: 0.6rem;
}

.app__m-2 {
    margin: 1rem;
}

.app__global__container {
    display: flex;
    flex: 1;
}

