@import "base.css";

.app__drive__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.app__drive__content__breadcrumbs {
    padding: 0.5rem 1rem;
}

.app__drive__content__breadcrumb {
    color: inherit;
    text-underline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    font-weight: bold;
}
.app__drive__content__breadcrumb:hover {
    color: var(--color-white);
}

.app__drive__content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    flex-direction: row;
}

.app__drive__content__header__title {
    font-weight: bold;
    color: var(--color-white);
    font-size: 1.5rem;
}

.app__drive__content__header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.app__drive__selected__container {
    background-color: var(--dark-mode-background-color-light);
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    .app__drive__selected__container {
        margin: 0 0.8rem;
    }
}

.app__drive__selected__text {
    color: var(--color-white);
    font-size: 1.1rem;
    margin-right: 2rem;
}

.app__drive__selected__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.app__drive__content__header__actions__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left: 1rem;
}

.app__drive__content__header__actions__action {
    margin: 0.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__drive__files__view__container {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    padding: 0.5rem;
}

.app__drive__files__view {
    flex: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.app__drive__files__drag {
    position: absolute;
    z-index: 1300;
    background-color: var(--dark-mode-background-color-light);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    border-radius: var(--border-radius-sm);
}

.app__drive__files__drag__title {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: bold;
}

.app__drive__file__tile,
.app__drive__file__tile--splitview,
.app__drive__file__tile--skeleton,
.app__drive__file__tile--skeleton--splitview {
    position: relative;
    height: 160px;
    margin: 0.5%;
    width: 10%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.app__drive__file__tile,
.app__drive__file__tile--splitview {
    background-color: var(--dark-mode-background-color-medium);
    overflow: hidden;
}

.app__drive__file__tile--skeleton,
.app__drive__file__tile--skeleton--splitview {
    background-color: transparent;
}

.app__drive__file__files {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
}

.app__drive__file__tile {
    width: 10%;
}

.app__drive__file__tile--splitview {
    width: 13%;
}

@media screen and (max-width: 600px) {
    .app__drive__file__tile,
    .app__drive__file__tile--splitview,
    .app__drive__file__tile--skeleton,
    .app__drive__file__tile--skeleton--splitview {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .app__drive__file__tile,
    .app__drive__file__tile--splitview,
    .app__drive__file__tile--skeleton,
    .app__drive__file__tile--skeleton--splitview {
        width: 31%;
        margin: 1%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    .app__drive__file__tile,
    .app__drive__file__tile--skeleton {
        width: 23%;
    }

    .app__drive__file__tile--splitview,
    .app__drive__file__tile--skeleton--splitview {
        width: 31%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1600px) {
    .app__drive__file__tile,
    .app__drive__file__tile--skeleton {
        width: 18%;
    }

    .app__drive__file__tile--splitview,
    .app__drive__file__tile--skeleton--splitview {
        width: 23%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
    .app__drive__file__tile,
    .app__drive__file__tile--skeleton {
        width: 13%;
    }

    .app__drive__file__tile--splitview,
    .app__drive__file__tile--skeleton--splitview {
        width: 18%;
    }
}

.app__drive__file__tile__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    border-radius: var(--border-radius-sm);
    background-color: var(--dark-mode-background-color-light);
    margin-bottom: 0.5rem;
}

.app__drive__file__tile__icon {
    object-fit: contain;
    width: 50%;
    height: 60%;
}

.app__drive__file__tile__filename {
    width: 100%;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    word-break: break-all;
    box-sizing: border-box;
}

.app__drive__file__tile__selection__container {
    position: absolute;
    top: 0.2rem;
    left: calc(100% - 2rem);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.app__drive__file__tile__selection,
.app__drive__file__tile__selection--active {
    border: 0.15rem solid var(--color-white);
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    transition: all 0.2s ease-in-out;
}

.app__drive__file__tile:hover > div > .app__drive__file__tile__selection {
    opacity: 1;
}

.app__drive__file__tile--splitview:hover > div > .app__drive__file__tile__selection {
    opacity: 1;
}

.app__drive__file__tile__selection {
    opacity: 0;
}

.app__drive__file__tile__selection--active {
    background-color: var(--color-blue);
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .app__drive__content__breadcrumbs {
        padding: 0.8rem 0.8rem 0 0.8rem;
    }

    .app__drive__content__header {
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    }

    .app__drive__content__header__title {
        font-size: 1.4rem;
    }
}


.app__progress__indicator__title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.app__progress__indicator__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--color-verydarkgrey);
    border-radius: var(--border-radius-sm);
}

.app__progress__indicator__item__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__progress__indicator__item__icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin-right: 0.5rem;
}

.app__progress__indicator__item__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.app__progress__indicator__item__name {
    font-size: 0.9rem;
    color: var(--color-lightgrey);
    flex: 1;
    margin-bottom: 0.5rem;
}

.app__progress__indicator__item__progress {
    width: 100%;
}

.app__progress__indicator__item__cancel {
    margin: 0.3rem 0 0.3rem 0.3rem;
}

.app__share-file-dialog__content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    min-width: 300px;
}

.app__share-file-dialog__control__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}

.app__share-file-dialog__control__section__label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--color-lightgrey)
}

.app__share-file-dialog__control__section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-darkgrey);
    border-radius: var(--border-radius-sm);
    padding: 0 0.5rem;
}

.app__share-file-dialog__control__chips {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
}

.app__share-file-dialog__control__chip {
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: inline-block;
}

.app__share-details-dialog__share-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    transition: all 0.2s ease-in-out;
    background-color: var(--dark-mode-background-color-medium);
}

.app__share-details-dialog__share-item:hover {
    background-color: var(--dark-mode-background-color-light);
}

.app__share-details-dialog__share-item:active {
    background-color: var(--color-grey);
}

.app__share-details-dialog__share-item__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.app__share-details-dialog__share-item__title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.app__share-details-dialog__share-item__subtitle {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--color-lightgrey);
}

.app__share-details-dialog__share-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--dark-mode-background-color-medium);
}

.app__share-details-dialog__share-list__item {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.2rem;
    transition: all 0.2s ease-in-out;
}

.app__share-details-dialog__share-list__item__actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.app__share-details-dialog__share-list__item__permissions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}

.app__file-details-dialog_rows {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    min-width: 200px;
    padding-bottom: 0;
}

.app__file-details-dialog__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;
}


.app__file-details-dialog__row__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*align-items: center;*/
    width: 100%;
    /*background-color: var(--color-darkgrey);*/
    /*border-radius: var(--border-radius-sm);*/
    padding: 0 0.5rem;
}

.app__file-details-dialog__row__content__title {
    font-size: 0.9rem;
    font-weight: 500;
    width: 30%;
    margin-top: 0.5rem;
    /*color: var(--color-lightgrey)*/
}

.app__file-details-dialog__row__content__value {
    flex: 1;
    font-size: 0.9rem;
    font-weight: 400;
    /*color: var(--color-lightgrey);*/
    margin: 0.5rem;
}

.app__file-details-dialog__icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
    margin-bottom: 0.5rem;
    /*background-color: var(--dark-mode-background-color-light);*/
}

.app__file-details-dialog__icon {
    object-fit: contain;
    width: 30%;
    height: 40%;
}

.app__file-details-dialog__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.app__file-details-dialog__action {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /*cursor: pointer;*/
    /*transition: all 0.2s ease-in-out;*/
}