@import "base.css";

.app__navbar-logo {
    display: flex;
    align-items: center;
}

.app__navbar-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-mode-background-color-dark);
    border-radius: var(--border-radius-sm);
    padding: 0 0.5em;
}

.app__navbar-account {
    display: flex;
    align-items: center;
}

.app__navbar-link,
.app__navbar-link--active {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0.5rem;
}

.app__navbar-link {
    color: var(--color-grey);
}

.app__navbar-link--active {
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    .app__navbar-link,
    .app__navbar-link--active {
        font-size: 0.8rem;
        margin: 0 0.2rem;
    }
}

.app__navbar__calendar-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.app__navbar__calendar-controls__view-mode {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--dark-mode-background-color-light);
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.app__navbar__calendar-controls__view-mode:hover {
    background-color: var(--color-darkgrey);
}

.app__navbar__calendar-controls__view-mode:active {
    background-color: var(--color-grey);
}

.app__navbar__calendar-controls__view-mode__name {
    margin-left: 0.5rem;
    font-weight: bold;
}