@import "base.css";

.app__settings__main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 766px;
    margin: 0 auto;
} 
.app__settings__main h1 {
    font-weight: 500;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    flex-direction: row;
}
.app__settings__main h2 {
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}
.app__settings__account__reset {
    display: flex;
    width:100%;
    justify-content: space-between;
}
.app__settings__subsection {
    justify-content: left;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: var(--dark-mode-background-color-medium);
    width: 766px;
    height: 459px;
}
.app__settings__subsection__half{
    
    flex-direction: row;
    padding: 1rem 0;
    border-radius: 5px;
    background-color: var(--dark-mode-background-color-medium);
    width: 363px;
    height: 459px;
}

.app__settings__header {
    display: flex;
    flex-direction: row;
    width: 766px;
    height: 55px;
}
.app__settings__form{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
}