@import "base.css";

.app__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-mode-background-color-dark);
}

.app__sidebar__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.app__sidebar__navigation__item,
.app__sidebar__navigation__item--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    margin: 0 0.5rem;
}

.app__sidebar__navigation__item:hover {
    background-color: var(--color-grey);
}

.app__sidebar__navigation__icon {
    width: 2rem;
    height: 2rem;
}

.app__sidebar__bottom__navigation {
    background-color: var(--dark-mode-background-color-medium);
}

.app__sidebar__shortcuts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0;
}

.app__sidebar__shortcut,
.app__sidebar__shortcut--active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    margin: 0.3rem 0;
    width: 85%;
}

.app__sidebar__shortcut:hover {
    background-color: var(--color-grey);
}

.app__sidebar__shortcut__icon {
    margin-right: 0.5rem;
}

.app__sidebar__last-used {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 0 0.5rem 0;
}

.app__sidebar__last-used__header {
    box-sizing: border-box;
    border-bottom: 2px solid var(--color-grey);
    width: 95%;
    padding: 0.5rem 0.2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.app__sidebar__last-used__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    padding: 0.5rem 0;
}

.app__sidebar__last-used__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    margin: 0.2rem 0;
    width: 100%;
}

.app__sidebar__last-used__item:hover {
    background-color: var(--color-grey);
}

.app__sidebar__last-used__item__icon {
    width: 1.7rem;
    padding: 0.5rem;
}